<app-titulo [titulo]="'Eventos'"></app-titulo>
<div class="form-inline">
  <div class="form-grup mb-2">
    <label class="mr-2">Filtro: </label>
    <input
      type="text"
      class="form-grup mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
    />
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th class="text-center">
        <button
          class="btn btn-outline-light btn-sm"
          type="button"
          (click)="exibirOcultar()">
          <i class="{{ mostrarImg ? 'fa fa-eye-slash'  : 'fa fa-eye' }}" ></i>
          {{ mostrarImg ? "Ocultar" : "Exibir" }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd. Participantes</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td class="text-center">
        <img
          [ngbCollapse]="!mostrarImg"
          src="/assets/{{ evento.imagemURL }}"
          [style.width.px]="largImg"
          [style.margin.px]="margImg"
        />
      </td>
      <td>{{ evento.id }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento | DateFormatTime }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lotes[0].nome}}</td>
      <td>
        <button
          class="btn btn-outline-primary btn-sm"
          type="button" ngbTooltip="Editar" data-toggle="modal123" data-target="#exampleModal"
        >
        <i class="fa fa-edit" ></i>
      </button>
        <button
          class="btn btn-outline-danger btn-sm"
          type="button" ngbTooltip="Excluir" (click)="openModal(template)"
        >
        <i class="fa fa-trash" ></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>


<!--Modal-->
<ng-template #template>
  <div class="modal-header">
    <p>
      Exclusão de evento
    </p>
  </div>
  <div class="modal-body">
    <p>
      Deseja realmente realizar a exclusão deste item ?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="decline()" >
      Cancelar
    </button>
    <button type="button" class="btn btn-danger" (click)="confirm()" >
      Excluir
    </button>
  </div>
</ng-template>
<!--ModalFim-->
